/* calendar.css */
.react-calendar {
  background-color: white; /* Change background if needed */
}

.react-calendar__tile {
  color: blue; /* Change date color */
}

.react-calendar__tile--active {
  background: #4f46e5; /* Active date background color */
  color: white; /* Active date text color */
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:hover {
  background: #4338ca; /* Hover background for active date */
  color: white; /* Hover text color for active date */
}

.react-calendar__tile--now {
  border: 2px solid #4f46e5; /* Border for today */
}
